<%- include ../layouts/header.ejs %>

<% if(messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>

<% if(messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/items/edit/<%= id %>" method="post" name="form1">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" id="name" value="<%= name %>"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" name="qty" id="qty" value="<%= qty %>"></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" name="amount" id="amount" value="<%= amount %>"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="Submit" name="Submit" value="Update"></td>
        </tr>
        <input type="hidden" name="_method" value="PUT">
    </table>
</form>

<%- include ../layouts/footer.ejs %>
