<%- include ../layouts/header.ejs %>

    <% if(messages.error) { %>
        <p style="color:red"><%- messages.error %></p>
    <% } %>

    <% if(messages.success) { %>
        <p style="color:green"><%- messages.success %></p>
    <% } %>

    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>

        <% if(data) { %>
            <% data.forEach(function(item) { %>            
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.qty %></td>
                    <td><%= item.amount %></td>  
                    <td>
                        <a href="/items/edit/<%= item.id %>">Edit</a>
                        <form action="/items/delete/<%= item.id %>" method="post">
                            <input type="submit" name="delete" value="Delete">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </td>                  
                </tr>
            <% }) %>
        <% } %>
    </table>

<%- include ../layouts/footer.ejs %>